body {
    padding: 32px;
    font-size: 24px;
}

#task4 {
    font-family: Arial; 
    font-size: 18;
    font-weight: bold;
    color: blue; 
}

table, th, td {
    border: 1px solid black;
    width: 40%;
    padding: 15px;
    text-align: left;
  }